* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------TOP CONTAINER DESIGN ----------------*/


body {
    background: linear-gradient(rgb(151, 204, 247), white);
    height: 100vh;
    min-width: 290px;

}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.UpperContainer {
    background: rgba(35, 46, 35, 0.342);
    position: relative;
    display: flex;
    justify-content: space-around;
    /* height: 320px; */
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.UpperContainer .temperatureBox {
    /* margin: 65px; */
    min-height: 300px;
    /* border: 2px solid black; */
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UpperContainer .inputFieldBox {
    /* min-height: 300px; */
    /* border: 2px solid black; */
    min-width: 100px;
    display: flex;
    align-items: flex-start;
    /* margin: 50px; */
    padding-top: 50px;
    padding-bottom: 35px;
    flex-shrink: 0;
    
}

.UpperContainer button {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.UpperContainer button img {
    width: 16px;

}


.inputField {
    height: 50px;
    min-width: 150px;
    border-radius: 25px;
    border: 0;
    padding-left: 15px;
    outline: 0;
    margin: 10px;
    /* border-color: gray; */
    border-width: 1px;
}

@media(max-width: 473px) {
    .UpperContainer .inputFieldBox {
        order: 1
    }
    .UpperContainer .temperatureBox {
        order: 2;
    }
}

.weather-icon {
    width: 170px;
    margin-top: 18px;
}


.temp {
    font-size: 50px;
    /* font: 700; */
    color: aliceblue;
}

.city {
    font-size: 30px;
    /* font: 300; */
    color: aliceblue;
}

/* ----------   BOTTOM CONTAINER DESIGN -----------------*/


.BottomContainer {
    position: relative;
    height: 100%;
    background: rgb(146, 146, 146);
    display: flex;
    justify-content: space-around;
    /* height: 320px; */
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 60px;
}


.col {
    /* border: 2px solid black; */
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;

}

.col img {
    width: 50px;
    height: 50px;
    margin: 10px;
}

.col p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    color: aliceblue;
    white-space: nowrap;
}

.col .weather-text {
    font-size: 30px;
    margin-bottom: 10px;
}