* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 10px; */
}


/*------------------TOP CONTAINER DESIGN ----------------*/



body {
    background: linear-gradient(rgb(41, 51, 59), rgb(0, 0, 0));
    /* height: 100vh; */
    min-width: 290px;
    /* margin: 0, auto; */
}




.page-wrapper {
    position: relative;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    height: 100svh;
    max-width: 1435px;
    margin: 0, auto;
    
}
/* 
@media (max-width: 720px) {
    .page-wrapper {
        overflow: hidden;
    }
} */

.videoContainer {
    position:absolute;
    height:100%;
    width:100%;
    overflow: hidden;
    top: 0;
    z-index: 0;
}

video{
    position:absolute;
    top:0;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}


.UpperContainer {
    background: rgba(35, 46, 35, 0.342);
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 320px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}

.UpperContainer .temperatureBox {
    /* margin: 65px; */
    min-height: 300px;
    /* border: 2px solid black; */
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.UpperContainer .inputFieldBox {
    /* min-height: 300px; */
    /* border: 2px solid black; */
    min-width: 100px;
    display: flex;
    align-items: flex-start;
    /* margin: 50px; */
    padding-top: 50px;
    padding-bottom: 35px;
    flex-shrink: 0;
    z-index: 1;
    
}

.UpperContainer button {
    height: 50px;
    width: 50px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.UpperContainer button img {
    width: 16px;

}


.inputField {
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
    height: 50px;
    min-width: 150px;
    border-radius: 25px;
    border: 0;
    padding-left: 15px;
    outline: 0;
    margin: 10px;
    /* border-color: gray; */
    border-width: 1px;
}

.inputField :hover {
    opacity:1;
}

@media(max-width: 473px) {
    .UpperContainer {
        padding: 20px 0 20px 0;
    }
    .UpperContainer .inputFieldBox {
        order: 1;
        padding-top: 0;
    }
    .UpperContainer .temperatureBox {
        order: 2;
    }
}

/* @media(max-width: 370px) and (max-height: 745px) {
    .UpperContainer {
        padding: 20px 0 20px 0;
    }
    .UpperContainer .inputFieldBox {
        order: 1;
        padding-top: 0;
    }
    .UpperContainer .temperatureBox {
        order: 2;
    }
} */



.weather-icon {
    width: 170px;
    margin-top: 18px;
}

@media(max-height: 680px) and (max-width: 380px) {
    .weather-icon {
     width: 140px;
     /* margin-top: 0; */
    }
 }

.weather-condition {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: azure;
}

.temp {
    font-size: clamp(2.5rem, 3vw, 20rem);
    /* font: 700; */
    color: aliceblue;
}

.city {
    font-size: clamp(2.5rem, 3vw, 20rem);
    /* font: 300; */
    color: aliceblue;
}

/* ----------   BOTTOM CONTAINER DESIGN -----------------*/


.BottomContainer {
    position: relative;
    background: rgb(124, 123, 126);
    display: flex;
    justify-content: space-around;
    /* height: 320px; */
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 60px;
}




.col {
    /* border: 2px solid black; */
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.col img {
    width: clamp(40px, 5vw, 100px);
    height: clamp(40px, 5vw, 100px);
    margin: 10px;
}

/* @media(max-width: 380px) {
    .col img {
        width: 40px;
        height: 40px;
    } */

    /* .col p {
        font-size: 10px;
    } */
/* } */

.col p {
    font-size: clamp(1.3rem, 3vw, 3rem);
    font-weight: 500;
    margin-left: 10px;
    color: aliceblue;
    white-space: nowrap;
}

.col .humidity-text {
    /* font-size: clamp(1rem, 3vw, 3rem); */
    margin-bottom: 10px;
}

.col .wind-text {
    /* font-size: clamp(1rem, 3vw, 3rem); */
    margin-bottom: 10px;
}

footer {
    height: 50px;
    background: blue;
    width: 100%;
    z-index: 1;
}

.overlay{
    position: absolute;
    top:0;
    background: linear-gradient(rgba(151, 204, 247, 0.267), rgba(255, 255, 255, 0.267));
    width: 100%;
    height: 100%;
}

@media(max-width: 473px) {
    .BottomContainer {
        padding: 10px 0 0 0;
    }
    .col img {
        width: 40px;
        height: 40px;
    }
    /* .col p {
        font-size: 15px;
    } */

    /* .col .humidity-text {
        font-size: 20px;
    } */
/* 
    .col .wind-text {
        font-size: 20px;
    } */
}